{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">

          <!-- [ breadcrumb ] start -->
          <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="page-header-title" align="right" dir="rtl">
                    <h5 class="m-b-10" align="right" dir="rtl"> {{sensor.name}} <small class="text-muted"> {{sensor.UUID}} </small> </h5>
                  </div>
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!"> IOT </a></li>
                    <li class="breadcrumb-item"><a href="#!"> نود ها </a></li>
                    <li class="breadcrumb-item">
                      <a href="#!">
                        {% for Rom in devices %}
                        {% if Rom.UUID == sensor.node_id %}
                         {{ Rom.name }}
                        {% endif %}
                        {% endfor %}
                      </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!"> {{sensor.name}} </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- [ breadcrumb ] end -->

          







         <br><hr>
         <h1> uuid: {{sensor.UUID}} </h1>
         <h1> name: {{sensor.name}} </h1>
         <h1> family_id: {{sensor.family_id}} </h1>
         <h1> node_id: {{sensor.node_id}} </h1>







     </div>
 </section>
 <!-- [ Main Content ] end -->


{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
