{% extends "layouts/base.html" %}

{% block title %} سنسور {{sensor.name}} {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">

          <!-- [ breadcrumb ] start -->
          <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="page-header-title" align="right" dir="rtl">
                    <h5 class="m-b-10" align="right" dir="rtl"> {{sensor.name}} <small class="text-muted"> {{sensor.UUID}} </small> </h5>
                  </div>
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!"> IOT </a></li>
                    <li class="breadcrumb-item"><a href="#!"> نود ها </a></li>
                    <li class="breadcrumb-item">
                      <a href="#!">
                        {% for Rom in devices %}
                        {% if Rom.UUID == sensor.node_id %}
                         {{ Rom.name }}
                        {% endif %}
                        {% endfor %}
                      </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!"> {{sensor.name}} </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- [ breadcrumb ] end -->


          <!-- [ Main Content ] start -->
    			<div class="row">

            <!-- [ stiped-table ] start -->
            <div class="col-xl-12" align="right" dir="rtl">
                <div class="card">
                    <div class="card-header">
                        <span class="d-block m-t-5"> اطلاعات سنسور <b> {{sensor.name}} </b>
                          {% if sensor.family_id == '28' %}
                            <span class="badge badge-light-primary">سنسور دما</span>
                          {% elif sensor.family_id == '15' %}
                            <span class="badge badge-light-primary"> سنسور GPS </span>
                          {% endif %}
                        </span>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> دما فعلی </th>
                                        <th> بالا ترین دما </th>
                                        <th> پایین ترین دما </th>
                                        <th> میانگین دما </th>
                                        <th> آخرین به روز رسانی </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> {{Temp12_value}} </td>
                                        <td> {{max}} </td>
                                        <td> {{min}} </td>
                                        <td> {{avg}} </td>
                                        <td> {{last_update}} </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ stiped-table ] end -->



    			</div>
    			<!-- [ Main Content ] end -->









         <br><hr>
         <h1> uuid: {{sensor.UUID}} </h1>
         <h1> name: {{sensor.name}} </h1>
         <h1> family_id: {{sensor.family_id}} </h1>
         <h1> node_id: {{sensor.node_id}} </h1>







     </div>
 </section>
 <!-- [ Main Content ] end -->


{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
