{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">





          <!-- [ breadcrumb ] start -->
          <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="page-header-title" align="right" dir="rtl">
                    <h5 class="m-b-10"> سنسور ها</h5>
                  </div>
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!"> IOT </a></li>
                    <li class="breadcrumb-item"><a href="#!">  سنسور ها  </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- [ breadcrumb ] end -->




      <div class="row">

          <div class="col-sm-4">
              <div class="card bg-green text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <img src="/static/assets/images/sensors/gps.png" width="20px">
                              <span> GPS </span>
                              <br>
                              <h5 class="text-white"> sensor name </h5>
                          </div>
                      </div>
                      <div align="center">
                          <iframe
                            width="250"
                            height="130"
                            frameborder="2"
                            scrolling="yes"
                            marginheight="0"
                            marginwidth="0"
                            src="https://maps.google.com/maps?q=35.670824,51.482061&hl=es&z=14&amp;output=embed">
                           </iframe>
                      </div>
                        <div class="row">
                            <div class="col-md-3">
                              <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                            </div>
                            <div class="col-md-9">
                              <div class="col text-right">
                                <small>lat: 35.670824</small>
                                <br>
                                <small>lon: 51.482061</small>
                              </div>
                            </div>
                        </div>
                        <small class="ml-3"> 12 second ago </small>
                  </div>
              </div>
          </div>




          <div class="col-sm-4">
              <div class="card bg-primary text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                            <img src="/static/assets/images/sensors/temp.png" width="25px">
                              <span>Temperature</span> <br> <h5 class="text-white"> sensor name </h5>
                          </div>
                          <div class="col text-right">
                              <span class="text-white"> 72° <i class="feather icon-arrow-up ml-1 text-success"></i></span>
                               <br>
                              <span class="text-white"> 48° <i class="feather icon-arrow-down ml-1 text-danger"></i></span>
                          </div>
                      </div>
                      <div align="center" style="background-color:#ffffff;">
                         <div id="line-chart-temp"></div>
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white">
                                <div class="spinner-grow text-success" role="status">
                                  <span class="sr-only">Loading...</span>
                                </div>
                                 43°
                              </h3>
                              <small class="ml-3"> 12 second ago </small>
                          </div>
                          <div class="col text-right">
                              <span class="text-white"> 62° <span style="font-size: 20px;" class="text-warning"> ~ </span> </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-grey text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Node </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/node.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-pppurple text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Humidity & Temp </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/humidity.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-primary text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Temp Control </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/tempcontrol.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-green text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Digital 4 </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/digital4.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-pppurple text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Digital 8 </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/digital8.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-orange text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Pressure </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/pressure.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-grey text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Switch 1 </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/switch1.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-orange text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Switch 4 </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/switch4.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-green text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Switch 8 </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/switch8.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-primary text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Soil Humidity </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/SoilHumidity.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-pppurple text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Brightness </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/brightness.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-grey text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Potentiometer </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/potentiometer.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-primary text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Electricity 3 phase </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/electricity3.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-orange text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Electricity 1 phase </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/electricity1.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>








      </div>





     </div>
 </section>
 <!-- [ Main Content ] end -->


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>
{% endblock javascripts %}
