{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">

          <!-- [ breadcrumb ] start -->
          <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="page-header-title" align="right" dir="rtl">
                    <h5 class="m-b-10"> سنسور ها</h5>
                  </div>
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!"> IOT </a></li>
                    <li class="breadcrumb-item"><a href="#!">  سنسور ها  </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- [ breadcrumb ] end -->

<hr>

          <div class="container">
        		<div class="row">

              <div class="col-4">
                    <div class="card bg-green text-white">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-auto">
                                  <img src="/static/assets/images/sensors/gps.png" width="25px">
                                  <span>GPS</span>
                                </div>
                                <div class="col text-right">
                                  <small>
                                    lat: <span style="font-size: 14px;" class="text-warning">35.670824</span>
                                    &nbsp;
                                    long: <span style="font-size: 14px;" class="text-warning">51.482061</span>
                                  </small>
                                </div>
                            </div>
                            <div align="center">
                              <a href="#!" class="badge badge-secondary collapsible">Extend <i class="feather icon-map"></i> </a>
                              <div class="collapsiblecontent">
                                <iframe
                                  width="300"
                                  height="270"
                                  frameborder="0"
                                  scrolling="yes"
                                  marginheight="0"
                                  marginwidth="0"
                                  src="https://maps.google.com/maps?q=35.670824,51.482061&hl=es&z=14&amp;output=embed">
                                 </iframe>
                              </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <h3 class="m-0 text-white">
                                      <div class="spinner-grow text-success" role="status"> <span class="sr-only">Loading...</span> </div>
                                    </h3>
                                    <small class="ml-3"> 12 second ago </small>
                                </div>
                                <div class="col">
                                    <a href="#"><h4 class="m-0 text-white text-right"> sensor name  </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
        			</div>

        			<div class="col-4">
                    <div class="card bg-primary text-white">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-auto">
                                  <img src="/static/assets/images/sensors/temp.png" width="25px">
                                  <span>Temperature</span>
                                </div>
                                <div class="col text-right">
                                    <span class="text-white"> 72° <i class="feather icon-arrow-up ml-1 text-success"></i></span>
                                    <span class="text-white"> 48° <i class="feather icon-arrow-down ml-1 text-danger"></i></span>
                                    <span class="text-white"> 62° &nbsp;&nbsp;<span style="font-size: 20px;" class="text-warning">~</span> </span>
                                </div>
                            </div>
                            <div align="center">
                              <a href="#!" class="badge badge-secondary collapsible">Extend <i class="feather icon-pie-chart"></i> </a>
                              <div class="collapsiblecontent" style="background-color:#ffffff4f;">
                                  <div class="text-dark" id="line-chart-temp"></div>
                              </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <h3 class="m-0 text-white">
                                      <div class="spinner-grow text-success" role="status"> <span class="sr-only">Loading...</span> </div>
                                      48°
                                    </h3>
                                    <small class="ml-3"> 12 second ago </small>
                                </div>
                                <div class="col">
                                    <a href="#"><h4 class="m-0 text-white text-right"> sensor name  </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
        			</div>

              <div class="col-4">
                    <div class="card bg-pppurple text-white">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-auto">
                                  <img src="/static/assets/images/sensors/humidity.png" width="25px">
                                  <span>H&T</span>
                                </div>
                                <div class="col text-right">
                                    <span class="text-white"> 25% 72° <i class="feather icon-arrow-up ml-1 text-success"></i></span>
                                    <span class="text-white"> 12% 48° <i class="feather icon-arrow-down ml-1 text-danger"></i></span>
                                    <span class="text-white"> 19% 62° &nbsp;&nbsp;<span style="font-size: 20px;" class="text-warning">~</span> </span>
                                </div>
                            </div>
                            <div align="center">
                              <a href="#!" class="badge badge-secondary collapsible">Extend <i class="feather icon-pie-chart"></i> </a>
                              <div class="collapsiblecontent" style="background-color:#ffffff4f;">
                                  <div class="text-dark" id="line-chart-ht"></div>
                              </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <h4 class="m-0 text-white">
                                      <div class="spinner-grow text-success" role="status"> <span class="sr-only">Loading...</span> </div>
                                      18% 48°
                                    </h4>
                                    <small class="ml-3"> 12 second ago </small>
                                </div>
                                <div class="col">
                                    <a href="#"><h4 class="m-0 text-white text-right"> sensor name  </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
        			</div>


              <div class="col-4">
                    <div class="card bg-orange text-white">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-auto">
                                  <img src="/static/assets/images/sensors/pressure.png" width="25px">
                                  <span>Pressure</span>
                                </div>
                                <div class="col text-right">
                                    <span class="text-white"> 42 P <i class="feather icon-arrow-up ml-1 text-success"></i></span>
                                    <span class="text-white"> 18 P <i class="feather icon-arrow-down ml-1 text-danger"></i></span>
                                    <span class="text-white"> 33 P &nbsp;&nbsp;<span style="font-size: 20px;" class="text-warning">~</span> </span>
                                </div>
                            </div>
                            <div align="center">
                              <a href="#!" class="badge badge-secondary collapsible">Extend <i class="feather icon-pie-chart"></i> </a>
                              <div class="collapsiblecontent" style="background-color:#ffffff4f;">
                                  <div class="text-dark" id="radialBar-chart-pressure"></div>
                              </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <h3 class="m-0 text-white">
                                      <div class="spinner-grow text-success" role="status"> <span class="sr-only">Loading...</span> </div>
                                      31 P
                                    </h3>
                                    <small class="ml-3"> 12 second ago </small>
                                </div>
                                <div class="col">
                                    <a href="#"><h4 class="m-0 text-white text-right"> sensor name  </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
        			</div>


              <div class="col-4">
                    <div class="card bg-grey text-white">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-auto">
                                  <img src="/static/assets/images/sensors/node.png" width="30px">
                                  <span>Node</span>
                                </div>
                                <div class="col text-right">
                                  <small>
                                    <span style="font-size: 12px;" class="text-warning">Tamper</span>
                                    &nbsp;
                                    <span style="font-size: 12px;" class="text-warning">Moves</span>
                                    &nbsp;
                                    <span style="font-size: 12px;" class="text-warning">HMI</span>
                                    &nbsp;
                                    <span style="font-size: 12px;" class="text-warning">USB</span>
                                  </small>
                                  <br>
                                  <span style="font-size: 20px;" class="text-success">45°</span>
                                  &nbsp;&nbsp;
                                  <span style="font-size: 20px;" class="text-success">Charging</span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <h5 class="m-0 text-success">
                                      <div class="spinner-grow text-success" role="status"> <span class="sr-only">Loading...</span> </div>
                                      Ready
                                    </h5>
                                    <small class="ml-3"> 12 second ago </small>
                                </div>
                                <div class="col">
                                    <a href="#"><h4 class="m-0 text-white text-right"> sensor name  </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
        			</div>


              <div class="col-4">
                    <div class="card bg-primary text-white">
                        <div class="card-body bg-patern-white">
                            <div class="row">
                                <div class="col-auto">
                                  <img src="/static/assets/images/sensors/tempcontrol.png" width="30px">
                                  <span>Temp Control</span>
                                </div>
                                <div class="col text-right">
                                  <small>
                                    <span style="font-size: 10px;" class="text-warning">Setpoint:</span> 44°
                                    &nbsp;
                                    <span style="font-size: 10px;" class="text-warning">Windowsize:</span> 7°
                                  </small>
                                </div>
                            </div>
                            <div align="center">
                              <a href="#!" class="badge badge-secondary collapsible">Extend <i class="feather icon-pie-chart"></i> </a>
                              <div class="collapsiblecontent" style="background-color:#ffffff4f;">
                                  <div class="text-dark" id="line-chart-tc"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <h5 class="m-0 text-white">
                                      <div class="spinner-grow text-success" role="status"> <span class="sr-only">Loading...</span> </div>
                                       43° &nbsp;<span style="font-size: 12px;" class="text-warning">cooler</span>
                                    </h5>
                                    <small class="ml-3"> 12 second ago </small>
                                </div>
                                <div class="col">
                                    <a href="#"><h4 class="m-0 text-white text-right"> sensor name  </h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
        			</div>




        	</div>















<br><hr><br>



      <div class="row">




          <div class="col-sm-3">
              <div class="card bg-primary text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                            <img src="/static/assets/images/sensors/tempcontrol.png" width="25px">
                              <span>Temp Control</span> <br> <h5 class="text-white"> sensor name </h5>
                          </div>
                          <div class="col text-right">
                              <span class="text-white"> 72° <i class="feather icon-arrow-up ml-1 text-success"></i></span>
                               <br>
                              <span class="text-white"> 48° <i class="feather icon-arrow-down ml-1 text-danger"></i></span>
                          </div>
                      </div>
                      <div align="center"> <br>
                        <img src="/static/assets/images/sensors/temp.png" width="160px">
                        <p style="font-size:60px;">43</p>
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                            <div class="row">
                                <div class="col-md-3">
                                  <div class="spinner-grow text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                                </div>
                                <div class="col-md-9">
                                  <div class="col text-right">
                                      <span class="text-white"> mode: <span style="font-size: 15px;" class="text-warning"> cooler </span> </span>
                                  </div>
                                </div>
                            </div>
                            <small class="ml-3"> 12 second ago </small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-green text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Digital 4 </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/digital4.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-pppurple text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Digital 8 </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/digital8.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>



          <div class="col-sm-3">
              <div class="card bg-grey text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Switch 1 </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/switch1.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-orange text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Switch 4 </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/switch4.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-green text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Switch 8 </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/switch8.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-primary text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Soil Humidity </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/SoilHumidity.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-pppurple text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Brightness </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/brightness.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-grey text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Potentiometer </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/potentiometer.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-primary text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Electricity 3 phase </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/electricity3.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card bg-orange text-white">
                  <div class="card-body bg-patern-white">
                      <div class="row">
                          <div class="col-auto">
                              <span> Electricity 1 phase </span>
                          </div>
                          <div class="col text-right">
                              <h2 class="mb-0 text-white">826</h2>
                              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                          </div>
                      </div>
                      <div align="center">
                         <img src="/static/assets/images/sensors/electricity1.png" width="130px">
                      </div>
                      <div class="row mt-3">
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                              <span class="ml-3">New</span>
                          </div>
                          <div class="col">
                              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                              <span class="ml-3">Return</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>








      </div>





     </div>
 </section>
 <!-- [ Main Content ] end -->


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

      <script>
          var coll = document.getElementsByClassName("collapsible");
          var i;

          for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var content = this.nextElementSibling;
              if (content.style.maxHeight){
                content.style.maxHeight = null;
              } else {
                content.style.maxHeight = content.scrollHeight + "px";
              }
            });
          }
      </script>

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/chart-apex.js"></script>
{% endblock javascripts %}
