{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">

          <!-- [ breadcrumb ] start -->
          <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="page-header-title" align="right" dir="rtl">
                    <h5 class="m-b-10"> sensor ccc </h5>
                  </div>
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!"> IOT </a></li>
                    <li class="breadcrumb-item"><a href="#!">  سنسور ها  </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- [ breadcrumb ] end -->



         <h1>  hhhhhh hhhhh  </h1>
         <h1> {{sensor}} </h1>
         <h1> {{sensor.name}} </h1>



     </div>
 </section>
 <!-- [ Main Content ] end -->


{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
